*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea
/.idea*
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/app/release
/app/release/*
/app/release*
/app/build
/app/build*
/captures
.externalNativeBuild
